.index {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(https://img.alicdn.com/imgextra/i1/O1CN01J0JX0Z1dX0K8vQJ0v_!!6000000005104-0-tps-750-1334.jpg)
    no-repeat;
  background-size: cover;
}
