.content {
  padding: 40px 40px 120px;
  max-height: 80vh;
  overflow-y: scroll;
  font-size: 24px;
  text-align: left;
  line-height: 1.5;
  color: #666;
}

// .title {
//   color: #6190e8;
// }

.btnbox {
  position: fixed;
  padding: 0 20px 30px;
  left: 0;
  right: 0;
  background-color: #fff;
  bottom: 0;
}

.at-action-sheet__header {
  color: #666;
}
